@model IEnumerable<FitnessCenter.Models.Homepage>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Mainpic)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Mainstatement)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Joinuspic)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Joinusparagraph)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Discountpic)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Discountheader)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Feedbackpic)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Mainpic)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Mainstatement)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Joinuspic)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Joinusparagraph)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Discountpic)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Discountheader)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Feedbackpic)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
