@model IEnumerable<FitnessCenter.Models.Sharedlayout>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Logo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Facebooklink)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Twitterlink)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Githublink)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Photerparagraph)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Homelocation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Copywritestatement)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                <img src="~/Images/@item.Logo"/>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Facebooklink)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Twitterlink)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Githublink)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Photerparagraph)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Homelocation)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Copywritestatement)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
